# Node dependencies
node_modules/

# Environment variables
.env
*.env

# Prisma
prisma/*.db
prisma/migrations/*-shadow.db

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Testing
coverage/

# Docker
docker-data/
